<!DOCTYPE html>
<html>
  <head>
    <title>opencv4nodejs express example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <style>
    button, img {
      margin: 5px 5px;
    }
    .centered-container {
      margin: 20px;
      display: flex;
      justify-content: center;
    }
    .centered-text {
      text-align: center;
    }
    .margin-right {
      margin-right: 5px;
    }
  </style>
  <body>
    <header class="centered-text">
      <h1>VSR demo</h1>
    </header>
    <main>
      <section>
        <div class="centered-container">
          <span class="margin-right"> pick a .png or .jpg file: </span>
          <input type="file" onchange="onImageSelected(event)" />
        </div>
        <div class="centered-container">
          <button onclick="detectFaces()"> Detect Faces </button>
          <button onclick="detectFingers()"> Detect Fingers </button>
          <button onclick="detectORB()"> Detect ORB Features </button>
          <button onclick="detectSURF()"> Detect SURF Features </button>
          <button onclick="detectSIFT()"> Detect SIFT Features </button>
          <label><input type="checkbox" id="continuous" \> Continuous</label>
        </div>
      </section>
      <section>
        <div class="centered-container">
		  <video id="video" width="640" height="480" autoplay></video>
		  <button id="snap" class="sexyButton">Snap Photo</button>
        </div>
        <div class="centered-container">
          <img id="input" src="" width="640" height="480" />
          <img id="output" src="" width="640" height="480" />
          <img id="debug" src="" width="640" height="480" />
        </div>
      </section>
    </main>

    <script src="./api.js"></script>
    <script src="./helpers.js"></script>
    <script>
      var selectedFile;
      var selectedFileData;
      var continuousEnabled = false;

      function onImageSelected(e) {
        selectedFile = e.target.files[0];
        var reader = new FileReader();
        reader.onload = function(re) {
          selectedFileData = re.target.result;
          displayImage('input', selectedFileData);
          document.getElementById('output').src = '';
          document.getElementById('debug').src = '';
        };
        reader.readAsDataURL(selectedFile);
      }

      function sendDetectionRequest(imageData, endpoint) {
        sendXhr(imageData, endpoint, function(err, responseData) {
          if (err) {
            console.error(err);
          } else {
            const base64Preset = 'data:image/jpeg;base64,';
            const responseImgData = base64Preset + responseData.base64Data;
            displayImage('output', responseImgData);
            if (responseData.mask64Data) {
              const maskImgData = base64Preset + responseData.mask64Data;
              displayImage('debug', maskImgData);
            }
          }
        });
      }

      function detectFaces() {
        return sendDetectionRequest(selectedFileData, 'faces');
      }

      function detectFingers() {
        return sendDetectionRequest(selectedFileData, 'fingers');
      }

      function detectORB() {
        return sendDetectionRequest(selectedFileData, 'features/orb');
      }

      function detectSURF() {
        return sendDetectionRequest(selectedFileData, 'features/surf');
      }

      function detectSIFT() {
        return sendDetectionRequest(selectedFileData, 'features/sift');
      }

      document.getElementById('continuous').addEventListener('change', function(e) {
          console.log("changing", e);
          continuousEnabled = e.target.checked;
      });

      function loop() {
          // continuous loop of capturing (if enabled)
          if (continuousEnabled) {
              document.getElementById('snap').click();
              detectFingers();
          }
          setTimeout(loop, 1000);
      };
      loop();

    </script>


	<script>

		// Put event listeners into place
		window.addEventListener("DOMContentLoaded", function() {
			// Grab elements, create settings, etc.
            var canvas = document.getElementById('canvas');
            //var context = canvas.getContext('2d');
            var video = document.getElementById('video');
            var mediaConfig =  { video: true };
            var errBack = function(e) {
            	console.log('An error has occurred!', e)
            };

			// Put video listeners into place
            if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
                navigator.mediaDevices.getUserMedia(mediaConfig).then(function(stream) {
                    video.src = window.URL.createObjectURL(stream);
                    video.play();
                });
            }

            /* Legacy code below! */
            else if(navigator.getUserMedia) { // Standard
				navigator.getUserMedia(mediaConfig, function(stream) {
					video.src = stream;
					video.play();
				}, errBack);
			} else if(navigator.webkitGetUserMedia) { // WebKit-prefixed
				navigator.webkitGetUserMedia(mediaConfig, function(stream){
					video.src = window.webkitURL.createObjectURL(stream);
					video.play();
				}, errBack);
			} else if(navigator.mozGetUserMedia) { // Mozilla-prefixed
				navigator.mozGetUserMedia(mediaConfig, function(stream){
					video.src = window.URL.createObjectURL(stream);
					video.play();
				}, errBack);
			}

			// Trigger photo take
			document.getElementById('snap').addEventListener('click', function() {
				var canvas = document.createElement('canvas');
				canvas.height = video.videoHeight;
				canvas.width = video.videoWidth;
				var ctx = canvas.getContext('2d');
				ctx.drawImage(video, 0, 0, canvas.width, canvas.height);
				selectedFileData = canvas.toDataURL();

				displayImage('input', selectedFileData);
			});
		}, false);

	</script>

  </body>
</html>
